%body  
  #abouts
    .about-me
      %h1 About Me
      %span.i1 I
      attended University of Waterloo, majoring in Economics
    .about-me
      %span.i2 I
      attended 
      %a{:href => "https://bitmakerlabs.com/", :target => "_blank", :id => "bitmaker"}Bitmaker Labs
      , a 9-week immersive web development bootcamp
    .about-me
      %span.i1 I
      currently reside in Toronto, ON.
    .about-me
      %span.i2 I
      have a strong passion for programming, and enjoy making things.
    .about-me
      %span.i1 I
      am seeking oppportunities that will challenge my growth, and further my career as a Developer. Get in touch with me
      %a{:href => "mailto:itsmrkim@icloud.com?subject=Hey Sam, just checked out your portfolio.", id: "mail"}
        here!
    .skillset
      %h2 Front End Skills
      .fe  
        HTML5
      .fe 
        CSS
      .fe 
        JavaScript
      .fe 
        jQuery
      .fe 
        AJAX
      .fe 
        HAML
      .fe 
        SASS
      %h2 Back End Skills
      %h5 + Version Control / Other
      .be
        Ruby on Rails
      .be 
        Rspec
      .be 
        OOP
      .be 
        TDD/BDD
      .be 
        Git
      .be 
        SQL 
      .be
        SQLite
      .be
        PostgreSQL
      .be 
        XML
      .be
        JSON
      .be 
        RESTful APIs
