%body.main
  #main-wrap
    .intro
      #first-phrase
      #second-phrase
      #third-phrase
    .intro-skip
      #first-phrase-s
        Sam Kim
      #second-phrase-s
        Full Stack Web Developer
      #third-phrase-s
        Based in Toronto, ON
    #skip-button
      Skip

    .site-wrapper#site-wrapper
      #bg
      #selection-overlay
      #dots
      .site-details#site-details
        .social-links
          %a{:href => "http://www.twitter.com/hellosamkim", id: "twitter", target: "_blank"}
            %i{:class => "fa fa-twitter"}
          %a{:href => "https://github.com/hellosamkim", id: "github", target: "_blank"}
            %i{:class => "fa fa-github"}
          %a{:href => "mailto:itsmrkim@icloud.com?subject=Hey Sam, just checked out your portfolio.", id: "mail"}
            %i{:class => "fa fa-envelope-o"}
          %a{:href => "https://www.linkedin.com/in/hellosamkim", id: "linkedin", target: "_blank"}
            %i{:class => "fa fa-linkedin"}
        .site-links
          = link_to 'abouts', id: "abouts", remote: true do
            %i{:class => "fa fa-info"}
          = link_to '#', id: "portfolio", remote: true do
            %i{:class => "fa fa-folder-open"}
        #my-info
        .footer
          Template designed by Sam Kim 
.facts-about-me
  %span{:style => "color: rgba(246, 246, 246, 0.5)"}
    Did you know...
  %span#my-statements
.proj-1
  .close
    %i{:class => "fa fa-times fa-2x"}
  .proj-pic
    %a{:href => "http://campus-grabs.herokuapp.com", target: "_blank"}
      %img{:src => "/images/projects/project1.png"}
      %img{:src => "/images/projects/project1b.png", :style => "margin-top: -0.4%"}
  .proj-description
    %h1 Campus Grabs
    .info
      Campus Grabs is a Ruby on Rails application that allows University students across Ontario to buy and sell goods. My goal was to sharpen my front-end skills, as well as getting comfortable with both Rails and Haml. 
    .stack
    .visit-site 
      %a{:href => "http://campus-grabs.herokuapp.com", target: "_blank"}
        Visit Site
    .visit-github
      %a{:href => "https://github.com/hellosamkim/CampusGrabs", target: "_blank"}
        Github Repo
.proj-2
  .close
    %i{:class => "fa fa-times fa-2x"}
  .proj-pic
    %img{:src => "/images/projects/project2.png"}
    %img{:src => "/images/projects/project2b.png", :style => "margin-top: -0.4%"}
  .proj-description
    %h1 Weekly Do
    .info
      Weekly Do is a Ruby on Rails application which allows a user to set, and manage weekly tasks. The core purpose of the app was to garnish a simple task-manager application. I was able to experiment and learn mobile compatibility.
    .visit-github-v2
      %a{:href => "https://github.com/hellosamkim/WeeklyDo", target: "_blank"}
        Github Repo
.proj-3
  .close
    %i{:class => "fa fa-times fa-2x"}
  .proj-pic
    %img{:src => "/images/projects/project3.png"}
    %img{:src => "/images/projects/project3b.png", :style => "margin-top: -0.4%"}
  .proj-description
    %h1 Pic Link
    .info
      Pic Link is a basic Ruby on Rails application which allows a user to upload and share pictures found on the web. Being one of the first Rails applications I built, this basic application allowed me to further understand the MVC framework
    .visit-github-v2
      %a{:href => "https://github.com/hellosamkim/pic-link", target: "_blank"}
        Github Repo
.proj-4
  .close
    %i{:class => "fa fa-times fa-2x"}
  .proj-pic
    %a{:href => "http://tt-toe.herokuapp.com", target: "_blank"}
      %img{:src => "/images/projects/project4.png"}
      %img{:src => "/images/projects/project4b.png", :style => "margin-top: -0.4%"}
  .proj-description
    %h1 Tic Tac Toe
    .info
      Tic Tac Toe is the second game that I built with javascript. This version of Tic Tac Toe allows a user to play aginst a computer AI. At first, it was impossible to NOT win the game, but currently, the computer AI is pretty intelligent. Do you have what it takes to beat Henry?
    .visit-site 
      %a{:href => "http://tt-toe.herokuapp.com", target: "_blank"}
        Visit Site
    .visit-github
      %a{:href => "https://github.com/hellosamkim/scrapbook/tree/master/Tic_Tac_Toe", target: "_blank"}
        Github Repo

= javascript_include_tag "all"