.intro
  #first-phrase
  #second-phrase
  #third-phrase
.intro-skip
  #first-phrase-s
    Sam Kim
  #second-phrase-s
    Full Stack Web Developer
  #third-phrase-s
    Based in Toronto, ON
#skip-button
  Skip

.site-wrapper#site-wrapper
  #bg
  #selection-overlay
  #dots
  .site-details#site-details
    .social-links
      %a{:href => "http://www.twitter.com/hellosamkim", id: "twitter", target: "_blank"}
        %i{:class => "fa fa-twitter"}
      %a{:href => "https://github.com/hellosamkim", id: "github", target: "_blank"}
        %i{:class => "fa fa-github"}
      %a{:href => "mailto:itsmrkim@icloud.com?subject=Hey Sam, just checked out your portfolio.", id: "mail"}
        %i{:class => "fa fa-envelope-o"}
      %a{:href => "https://www.linkedin.com/in/hellosamkim", id: "linkedin", target: "_blank"}
        %i{:class => "fa fa-linkedin"}
    .site-links
      = link_to 'abouts', id: "abouts", remote: true do
        %i{:class => "fa fa-info"}
      = link_to '#', id: "portfolio", remote: true do
        %i{:class => "fa fa-folder-open"}
    #my-info
    .facts-about-me
      %span{:style => "color: rgba(246, 246, 246, 0.5)"}
        Did you know...
      %span#my-statements
    .footer
      Template designed by Sam Kim 
    