%body
  #portfolio
    .row
      .project-l#proj-1
        %img{:src => "/images/projects/project1.png", :style => "width: 100%"}
      .project-r#proj-2
        %img{:src => "/images/projects/project2.png", :style => "width: 100%"}
    .row
      .project-l#proj-3
        %img{:src => "/images/projects/project3.png", :style => "width: 100%"}
      .project-r#proj-4
        %img{:src => "/images/projects/project4.png", :style => "width: 100%"}  